* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.nav_container {
  max-width: 1000px;
  margin: 0 auto;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}
.nav_list {
  display: inline-flex;
  list-style: none;
  gap: 30px;
}

.nav_list_item {
  text-decoration: none;
  color: hsl(233, 8%, 62%);
  font-family: "Public Sans", sans-serif;
  font-size: 14px;
}
.bank_name {
  font-family: "Public Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
}
.nav_btn {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background: linear-gradient(0.25turn, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  color: hsl(0, 0%, 100%);
  font-family: "Public Sans", sans-serif;
  font-size: 14px;
  opacity: 1;
}
.nav_btn:hover {
  opacity: 0.4;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.nav_list_item:hover {
  color: black;
  border-bottom: 2px solid hsl(192, 70%, 51%);
  padding-bottom: 30px;
}

.Hero {
  background-color: hsl(220, 16%, 96%);
}
.hero_grid {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto;
  gap: 120px;
}
.img_hero {
  max-width: 600px;
  max-height: 600px;
  padding: 20px 20px;
}
.hero_heading_main {
  color: hsl(233, 26%, 24%);
  font-family: "Public Sans", sans-serif;
  font-size: 42px;
  font-weight: 300;
  margin-top: 120px;
}
.hero_paragraph {
  color: hsl(233, 8%, 62%);
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  margin: 30px 0px;
  line-height: 1.6;
  word-spacing: 10%;
}
.mid-item {
  background-color: hsl(219, 27%, 90%);
}
.mid-section-grid {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
}
.mid-heading-h2 {
  color: hsl(233, 26%, 24%);
  font-family: "Public Sans", sans-serif;
  font-size: 32px;
  font-weight: 300;
  margin-top: 60px;
}
.mid-heading-para {
  color: hsl(233, 8%, 62%);
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
  margin: 30px 0px;
  line-height: 1.6;
  word-spacing: 10%;
}
.mid-card {
  margin-top: 20px;
}
.mid-operation_grid {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: nowrap;
}
.mid-card-heading {
  color: hsl(233, 26%, 24%);
  font-family: "Public Sans", sans-serif;
  font-size: 22px;
  font-weight: 300;
  margin: 30px 0;
}
.mid-card-para {
  color: hsl(233, 8%, 62%);
  font-family: "Public Sans", sans-serif;
  font-size: 16px;
  margin: 30px 0px;
  line-height: 1.6;
}
